.DS_Store

__pycache__/
*.pyc
*.egg-info/
dist/
build/

.venv
.vscode
.mypy_cache
.pytest_cache
.ruff_cache

.coverage
.coverage.*
cov-append.md
htmlcov/

.rbtr/
.pi/
!.pi/settings.json
.envrc

node_modules/

.todo/
tmp/
